# Project 2: Chapter 2 - Working with Lists

## Lists can hold any kind of object

In [1]:
empty_list = []
int_list = [1,2,3,4,5]
float_list = [1.0, 2.0, 3.0, 4.0, 5.0]
string_list = ["Many words", "impoverished meaning"]
mixed_list = [1, 2.0, "Mix it up"]

print(empty_list)
print(int_list)
print(float_list)
print(string_list)
print(mixed_list)

[]
[1, 2, 3, 4, 5]
[1.0, 2.0, 3.0, 4.0, 5.0]
['Many words', 'impoverished meaning']
[1, 2.0, 'Mix it up']

Let's check the types of objects in the last list.

In [2]:
type(mixed_list)

list

To access elements in a list, you must call the index which starts from 0 and counts upward with each additional element.

In [3]:
mixed_list[0], type(mixed_list[0])

(1, int)

In [4]:
mixed_list[1], type(mixed_list[1])

(2.0, float)

In [5]:
mixed_list[2], type(mixed_list[2])

('Mix it up', str)

## Concatenate lists

In [6]:
list1 = [4,6,32,6,7,98]
list2 = [1,6,3,7,89,0]

join_lists = list1 + list2

list1

[4, 6, 32, 6, 7, 98]

In [7]:
list2

[1, 6, 3, 7, 89, 0]

In [8]:
join_lists

[4, 6, 32, 6, 7, 98, 1, 6, 3, 7, 89, 0]

Remember this is just like concatenating strings

In [9]:
str1 = "Some string"
str2 = "Another string to concatenate with str1"

join_strings = str1 + str2
join_strings

'Some stringAnother string to concatenate with str1'

In [10]:
join_strings[2]

'm'

## List slices

Suppose that you want to call a subset of a list or string. You can do this by using calling lst[start: end]

In [11]:
join_lists

[4, 6, 32, 6, 7, 98, 1, 6, 3, 7, 89, 0]

In [12]:
join_lists[:5]

[4, 6, 32, 6, 7]

In [13]:
join_lists[0:5]

[4, 6, 32, 6, 7]

In [14]:
join_strings[:5]

'Some '

In [15]:
join_strings[0:5]

'Some '

In [16]:
join_strings[5:]

'stringAnother string to concatenate with str1'

If you call lst[-1], it will access the last element in the list.

In [17]:
join_lists[-1], join_strings[-1]

(0, '1')

You can count from the end of the list using the negative sign (-). If you count backword after the first colon, this will call all except for the last i elements for a command lst[:-i].

In [18]:
join_lists[:-1], join_strings[:-1]

([4, 6, 32, 6, 7, 98, 1, 6, 3, 7, 89],
 'Some stringAnother string to concatenate with str')

In [20]:
join_lists[:-5], join_strings[:-5]

([4, 6, 32, 6, 7, 98, 1], 'Some stringAnother string to concatenate with')

## For Loops

In [40]:
list1 = [1,2,3,4,5]
list2 = [6,5,4,3,100]

print("list1:", list1)
print("list2:", list2)

# create a blank list that we will use to generate the same
# results that we achieved using the + sign: concatenation
concat_list = []

len_list1 = len(list1)
len_list2 = len(list2)

# first let's concatenate
for i in range(0,len_list1):
    concat_list.append(list1[i])
    print(i, list1[i])
    
print(concat_list)

for i in range(0, len_list2):
    print(i, list2[i])
    concat_list.append(list2[i])
    
print(concat_list, list1 + list2)

sum_list = []
if len_list1 == len_list2:
    for i in range(len_list1):
        sum_list.append(list1[i] + list2[i])
print("sum_list (append):", sum_list)

sum_list = []
if len_list1 == len_list2:
    for i in range(0, len_list1 - 1):
        # lst.insert(index, value)
        sum_list.insert(i, list1[i] + list2[i])
print("sum_list (insert):", sum_list)

list1: [1, 2, 3, 4, 5]
list2: [6, 5, 4, 3, 100]
0 1
1 2
2 3
3 4
4 5
[1, 2, 3, 4, 5]
0 6
1 5
2 4
3 3
4 100
[1, 2, 3, 4, 5, 6, 5, 4, 3, 100] [1, 2, 3, 4, 5, 6, 5, 4, 3, 100]
sum_list (append): [7, 7, 7, 7, 105]
sum_list (insert): [7, 7, 7, 7]

In [42]:
1 == 1

True

In [44]:
1 != 1  # =/=

False

In [47]:
if 1 == 1:
    print("statement is", 1 == 1)

statement is True

In [50]:
for i in range(10):
    print("i ==", i, "i < 5:", i < 5)

i == 0 i < 5: True
i == 1 i < 5: True
i == 2 i < 5: True
i == 3 i < 5: True
i == 4 i < 5: True
i == 5 i < 5: False
i == 6 i < 5: False
i == 7 i < 5: False
i == 8 i < 5: False
i == 9 i < 5: False

In [61]:
list1 = [5, 
         4, 
         8,
         0,
         3,
         5]
list2 = ["red", 
         "blue", 
         "orange", 
         "white", 
         "grey", 
         "black"]

print(list1)
print(list2)

sorted_list1 = sorted(list1)#, reverse = True)
sorted_list2 = sorted(list2)

sorted_list1[::-1], sorted_list2[::2]

[5, 4, 8, 0, 3, 5]
['red', 'blue', 'orange', 'white', 'grey', 'black']

([8, 5, 5, 4, 3, 0], ['black', 'grey', 'red'])

In [67]:
list3 = ["1", 22, "3", 23, "5"]
try:
    sorted_list3 = sorted(list3)
except:
    print("TypeError: unorderable types: str < int")

# generator function creates list using for loop
# within the list created
alpha_list3 = [str(val) for val in list3]

num_list3 = []
for val in list3:
    num_list3.append(int(val))
print(alpha_list3)
print(num_list3)
sorted(alpha_list3), sorted(num_list3)

TypeError: unorderable types: str < int
['1', '22', '3', '23', '5']
[1, 22, 3, 23, 5]

(['1', '22', '23', '3', '5'], [1, 3, 5, 22, 23])

You can nest loops, meaning that you can add a loop within a loop.

In [76]:
print("i", "j", "k")
i_list = list(range(3))
j_list = list(range(5))
k_list = list(range(4))
for i in range(3):
    for j in range(5):
        for k in range(4):
            print(i, j, k)
print(i_list, j_list, k_list, sep = "\n")

i j k
0 0 0
0 0 1
0 0 2
0 0 3
0 1 0
0 1 1
0 1 2
0 1 3
0 2 0
0 2 1
0 2 2
0 2 3
0 3 0
0 3 1
0 3 2
0 3 3
0 4 0
0 4 1
0 4 2
0 4 3
1 0 0
1 0 1
1 0 2
1 0 3
1 1 0
1 1 1
1 1 2
1 1 3
1 2 0
1 2 1
1 2 2
1 2 3
1 3 0
1 3 1
1 3 2
1 3 3
1 4 0
1 4 1
1 4 2
1 4 3
2 0 0
2 0 1
2 0 2
2 0 3
2 1 0
2 1 1
2 1 2
2 1 3
2 2 0
2 2 1
2 2 2
2 2 3
2 3 0
2 3 1
2 3 2
2 3 3
2 4 0
2 4 1
2 4 2
2 4 3
[0, 1, 2]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]